<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134309525940-3vt881genso2ttgvq1k8vsahspadr4bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134309525940-3vt881genso2ttgvq1k8vsahspadr4bb</string>
	<key>API_KEY</key>
	<string>AIzaSyAQKN3F-miQ5aE5u20cwA-lVx6jgHpz18o</string>
	<key>GCM_SENDER_ID</key>
	<string>134309525940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nuntium</string>
	<key>PROJECT_ID</key>
	<string>nuntium-a5bcf</string>
	<key>STORAGE_BUCKET</key>
	<string>nuntium-a5bcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134309525940:ios:35f52fd6da9f4f47335ae1</string>
</dict>
</plist>